<div class="pure-menu pure-menu-open  pure-menu-horizontal" id="top-menu">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#macbook">Mac</a></li>
    <li><a href="#ipad">iPad</a></li>
    <li><a href="#iphone">iPhone</a></li>
    <li><a href="#gadjet">Watch</a></li>
    <li><a href="#gadjet">TV</a></li>
    <li><a href="#music">HomePod</a></li>
    <li><a href="#music">AirPods</a></li>
    <li><a href="#music">Ipod Touch</a></li>
    <li><a href="gallery.html">Gallery</a></li>
  </ul>
</div>
